body {
    background-color: #5E2A91;
    color: #F2E3F5;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #D5006D;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    border-radius: 15px;
}

